<h1>Your service for <%= @task.name %> was rejected</h1>

<p><%= @task.owner.first_name %> <%= @task.owner.last_name %> rejected your service </p>
<p>Please try another job</p>
<p><%= link_to "Go to the Tasks", tasks_url %></p>
