
.my_page-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.icone-red {
  color: red;
  background-color: transparent;
  border: none;
}

.icone-green {
  color: green;
  background-color: transparent;
  border: none;
}

.icone-yellow {
  color: #ef9b0f;
  background-color: transparent;
  border: none;
}
