.profile-page {
  font-family: "Celias";
  width: 100%;
  max-width: 600px;
  // margin-top: 15vh;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  // padding-top: 8vh;
}

.profile-page p {
  font-family: "Celias";
}

.profile-page img {
  margin-top: 8vh;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}

.profile-container {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
  padding-bottom: 15vh;

}

.profile-infos {
  padding: 10%;
}

.profile-infos h4 {
  text-align: left;
}

.profile-infos p {
  text-align: left;
}


.stripe-button-el {
  width: 80%;
}

.top-title-profile {
  color: white;
  background-color: rgb(24, 35, 56);
  border-radius: 10px 10px 0 0;
  height: 25vh;
  h3 {
    padding: 6%;
  }
}



















