<style>
.navbar-lewagon {
background: rgba(22, 35, 58, 1);
width: 100%;
}
.navbar-brand {
color: white !important;
}
strong {
font-family: "Celias";
}
</style>
<div class="profile-container">
  <div class="my-tasks-page">
    <div class="my_page-content">
      <% @user = current_user %>
      <div class="top-title"><h3>MY JOBS</h3></div>
      <div class="tasks-confirmed">
        <h3>Jobs accepted to be confirmed (<%=Task.where(worker_user_id: @user, status: "accepted").count%>)</h3>
      </div>
      <div class="tasks-progress">
        <h3>Jobs accepted in progress (<%=Task.where(worker_user_id: @user, status: "confirmed").count%>)</h3>
      </div>
      <div class="task-completed">
        <h3>Jobs finished (<%=Task.where(worker_user_id: @user, status: "finished").count%>)</h3>
      </div>
      <%= link_to "Back Home", (request.referer.present? ? request.referer : root_path), class: "btn btn-primary" %>
    </div>
  </div>
</div>
