<style>
.navbar-lewagon {
  background: #dd6561; /*rgba(241,145,142, 1);*/

  width: 100%;
}
.navbar-brand {
  color: white !important;
}
body {
  /*background: #f4f4f4;*/
  font-family: "Celias";
}
</style>




<% if @task.status != "confirmed" %>
  <script data-turbolinks-eval="false" language="javascript">
  regex = /\/tasks\/\d/i;
  setInterval(function(){

    if (regex.test(window.location.pathname)) {
      Turbolinks.visit(window.location.pathname)
    }

  }, 8000);
</script>
<% end %>

<div class="scene">


  <div class="card-showpage">
    <div class="card__face card__face--front">


      <div class="card-showpage-img">
        <% if @task.picture.present? %>
        <%= cl_image_tag @task.picture, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <% end %>
      </div>

      <div class="card-showpage-content">
        <div>
          <h2><%= @task.name %></h2>
          <p>Description: <%= @task.description %></p>
          <h2><%= @task.owner.first_name %></h2>
          <p>Bio: <%= @task.owner.bio %></p>
        </div>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-showpage-user avatar-xl"/>
      </div>

      <div class="card-showpage-infos">
        <p>Address: <%= @task.address %></p>
        <p>Status: <%= @task.status %></p>
      </div>
      <div class="card-showpage-infos" style="border-top:none">
        <p>Price: <%= humanized_money_with_symbol(@task.price) %></p>
        <p>Owner's rating: <%= @task.owner.average_rating_received %></p>
      </div>


      <% if @task.status == "pending"%>
      <div class="card-showpage-button-accept">
        <%= link_to "Accept", task_path(@task), method: :patch %>
      </div>

      <% elsif @task.status == "accepted"%>
      <div class="card-showpage-button-refresh">
        <%= link_to "Waiting for confirmation", task_path(@task) %>
      </div>

      <% elsif @task.status == "confirmed"%>
      <div class="card-showpage-button-confirmed">
        <%= link_to "Home", root_path %>
      </div>


      <% elsif @task.status == "finished"%>
       <div class="card-showpage-button-confirmed">
        <%= link_to "Review the owner", new_task_review_path(@task) %>
      </div>
      <% end %>
      <div class="card-showpage-button-back">
        <%= link_to "Back to index", tasks_path %>
      </div>
    </div>


<div class="card__face card__face--back">
  <div
  id="map"
  style="width: 100%;
  height: 700px; display: block; border-radius: 15px; object-fit: cover"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

  </div>
</div>

<script>
  var card = document.querySelector('.card-showpage');
  card.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
  });
</script>


</div>

