<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Post a task", new_task_path , class: "btn btn-success btn-lg" %>
<%= link_to "Take a task", tasks_path, class: "btn btn-success btn-lg" %>
