.container-show {
  height: 90vh;
  width: 90vw;
  border-radius: 3px;
  background-color: white;
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-show .card-background {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.user-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.card_task_user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
  flex-grow: 1;
}

.task-summary {
  padding: 1vh;
  width: 45vw;
  height: 50vh;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  left: 3vw;
  top: 5vh;
}

.task-summary-text {
  margin: 5%;
  line-height: 80%;
  position: relative;
}

.task-summary-description {
  width: 50%;
  position: absolute;
  right: 2%;
  line-height: normal;
}

.container-show .task-infos {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 3vw;
  bottom: 10vh;
}

.map-box {
  width: 35vw;
  height: 40vh;
  border-radius: 3px;
  background-color: green;
  position: absolute;
  right: 3vw;
  bottom: 5vh;
}

.payment-container {
  padding-top: 8vh;
}

.waiting-container {
  margin-top: 8vh;
  padding-top: 8vh;
  width: 80vw;
  height:80vh;
  background-color: white;
  border-radius: 10px;
}


.waiting-page {
  margin: 10%;
}






.payment-card {
  font-family: "Celias";
  color: white;
  width: 80%;
  background: rgba(22, 35, 58, 0.8);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    padding-top: 8vh;
    font-family: "Celias";
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  h3 {
    margin-top: 8vh;
    font-family: "Celias";
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    font-family: "Celias";
    width: 100%;
    margin-bottom: 20px
  }
  label {
    font-family: "Celias";
  }
}




















