.bg2 {
  background: #FA4688;
  background: rgba(250, 70, 136, 1);
}

.white-text {
  color: white;
}

.banner-static {
  height: 100vh;
  width: 100vw;
  background-image: url(http://cryptogoal.io/img/slider-bg.jpg) 28% no-repeat;
}



@font-face {
  font-family: "Celias";
  src: url("/fonts/Celias-Regular.woff2") format("woff2");
  src: url("/fonts/Celias-Bold.woff2") format("woff2");
       // url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
