<style>
.navbar-lewagon {
  background: rgba(22, 35, 58, 1);

  width: 100%;
  }
  .navbar-brand {
    color: white !important;
  }

strong {
  font-family: "Celias";
}
</style>


<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@task, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
